﻿@model IEnumerable<PagalTutNamuDarbas.Models.Competence>

@{
    ViewBag.Title = "Index";
}

<h2>Kompetencijos</h2>

<form action="Competence/Create">
    <p align="right">
        <input type="submit" value="Įvesti naują">
    </p>
</form>
<table class="table" border="1">
    <tr>
        <th>
            <p align="center">
                Kompetencija
            </p>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompetenceName)
            </td>
        </tr>
        }

    </table>
