﻿@model PagalTutNamuDarbas.Models.Evaluation

@{
    ViewBag.Title = "Create";
}

<h2>Vertinimas</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Darbuotojas", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Kompetencija", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompetenceID)
                @Html.ValidationMessageFor(model => model.CompetenceID)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Vertinimas", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Evaluate)
                @Html.ValidationMessageFor(model => model.Evaluate)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Data", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateEval)
                @Html.ValidationMessageFor(model => model.DateEval)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į sąrašą", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
