﻿@model IEnumerable<PagalTutNamuDarbas.Models.Evaluation>

@{
    ViewBag.Title = "Index";
}

<h2>Vertinimas</h2>

<form action="Evaluation/Create">
    <p align="left">
        <input type="submit" value="Naujas Vertinimas !">
    </p>
</form>
<table class="table" border="1">
    <tr>
        <th>
            @Html.ActionLink("Darbuotojas", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Kompetencija
        </th>
        <th>
            Vertinimas
        </th>
        <th>
          @Html.ActionLink("Data", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetenceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEval)
            </td>
        </tr>
    }

</table>
