﻿@model PagalTutNamuDarbas.Models.Company

@{
    ViewBag.Title = "Create";
}

<h2>Įmonė</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Įmonės pavadinimas", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName)
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Darbuotojų kiekis", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumbEmployee)
                @Html.ValidationMessageFor(model => model.NumbEmployee)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Kompetencijų kiekis", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumbCompetence)
                @Html.ValidationMessageFor(model => model.NumbCompetence)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti prie sąrašo", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
