﻿@model PagalTutNamuDarbas.Models.Company

@{
    ViewBag.Title = "Delete";
}

<h2>Šalinimas</h2>

<h3>Ar tikrai norite ištrinti?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumbEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumbEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumbCompetence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumbCompetence)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ištrinti" class="btn btn-default" /> |
            @Html.ActionLink("Grįžti į sąrašą", "Index")
        </div>
    }
</div>
