﻿@model PagalTutNamuDarbas.Models.Company

@{
    ViewBag.Title = "Edit";
}

<h2>Pataisyti</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName)
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumbEmployee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumbEmployee)
                @Html.ValidationMessageFor(model => model.NumbEmployee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumbCompetence, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumbCompetence)
                @Html.ValidationMessageFor(model => model.NumbCompetence)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti prie sąrašo", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
