﻿@model IEnumerable<PagalTutNamuDarbas.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Imonės</h2>

<form action="Company/Create">
    <p align="right">
        <input type="submit" value="Įvesti naują">
    </p>
</form>
<p>
    Pavadinimas: @Html.DropDownList("CompanyN", "All")
    <input type="submit" value="Filter" />
</p>
<table class="table" border="1">
    <tr>
        <th>
            Imonė
        </th>
        <th>
            Darbuotojų skaičius
        </th>
        <th>
            Kompetencijų skaičius
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumbEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumbCompetence)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
