﻿@model IEnumerable<PagalTutNamuDarbas.Models.Worker>

@{
    ViewBag.Title = "Index";
}

<h2>Darbuotojas</h2>

    <form action="Worker/Create">
        <p align="right">
        <input type="submit" value="Įvesti naują">
        </p>
    </form>
<table class="table" border="1" width="150" height="100">
    <tr>
        <th>
            Darbuotojas
        </th>
        <th>
            Kompetencija
        </th>
        <th>
            Paskutinis vertinimas
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
            </td>
          <td>
             <!--
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            -->
            </td>
        </tr>
    }

</table>
